* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

input, button {
  font-size: inherit;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

.app {
  background: linear-gradient(180deg, hsla(216, 100%, 62%, 1) 0%, hsla(39, 100%, 71%, 1) 100%);
  padding: 4rem;
  position: relative;
  height: 100vh;
  overflow: auto;
}

.app--modal-open {
  overflow: hidden;
}
